.phone-number {
  font-size: 20px;
  margin: 0;
  text-shadow: 1px 2px 1px #333;
  line-height: 10px;
}
.phone-number h2 a:hover {
  color: #efefef;
}
.shout {
  color: #efefef;
  padding-top: 20px;
  font-size: 14px;
}
@media (max-width: 1000px) {
  .navbar-left {
    display: none;
  }
}
@media (max-width: 900px) {
  .shout {
    margin: 0;
  }
  .navbar-left {
    display: none;
  }
  .phone-number {
    padding: 0;
  }
}
@media (max-width: 700px) {
  .shout {
    padding: 0;
    margin: 0;
  }
  .phone-number {
    padding: 0;
  }
}
@media (max-width: 500px) {
  .shout {
    padding: 0;
    margin: 0;
  }
  .phone-number {
    padding: 0;
  }
}
@media (max-width: 400px) {
  .shout {
    padding: 0;
    margin: 0;
  }
  .phone-number {
    padding: 0;
  }
}
