.special {
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  transform: rotate(-15deg);
  overflow: hidden;
  margin: 50px 0 0 0;
}
@media only screen and (max-device-width: 480px) {
  #about-image img {
    margin: 0;
    padding: 0;
  }
  .special {
    width: 80%;
    padding: 0;
  }
}
